header{
    display: flex;
}

header .header-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

header .logo {

}

header .logo img {

}

header nav {

}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    padding: 1em;
}

header nav ul a {
    font-weight: 600;
    text-decoration: none;
}

header nav ul li:hover a {
    color: rgb(173, 16, 173);
}